<%= form_for(@treatment) do |f| %>
  <% if @treatment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treatment.errors.count, "error") %> prohibited this treatment from being saved:</h2>

      <ul>
      <% @treatment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pacient_id %><br>
    <%= collection_select(:treatment, :pacient_id, Pacient.all, :id, :name,{:prompt   => "Select a pacient"}) %>
  </div>
  <div class="field">
    <%= f.label :procedure_id %><br>
    <%= collection_select(:treatment, :procedure_id, Procedure.all, :id, :name,{:prompt   => "Select a procedure"}) %>
  </div>
  <div class="field">
    <%= f.label :tooth %><br>
    <%= f.select(:tooth, Treatment.list_tooths, {:prompt   => "Dente"}, {:class => 'input-small'}) %>
  </div>
  <div class="field">
    <%= f.label :face %><br>
    <%= f.select(:face,  Treatment.list_faces, {:prompt   => "Face"}, {:class => 'input-small'}) %>
  </div>       
  <div class="field">
    <%= f.label :discount %><br>
    <%= f.text_field :discount %>
  </div>
  <div class="field">
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
