<h1>Listing treatments</h1>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Procedimento</th>
      <th>Dente</th>
      <th>Face</th>
      <th>Desconto</th>
      <th>Finalizado</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @treatments.each do |treatment| %>
      <tr>
        <td><%= Pacient.find_by_id(treatment.pacient_id).name %></td>
        <td><%= Procedure.find_by_id(treatment.procedure_id).name %></td>
        <td><%= treatment.tooth %></td>
        <td><%= treatment.face %></td>
        <td><%= treatment.discount %></td>
        <td><%= treatment.done %></td>
        <td><%= link_to 'Show', treatment %></td>
        <td><%= link_to 'Edit', edit_treatment_path(treatment) %></td>
        <td><%= link_to 'Destroy', treatment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Treatment', new_treatment_path %>
