<h1>Lista tratamentos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Procedimento</th>
      <th>Dente</th>
      <th>Face</th>
      <th>Desconto</th>
      <th>Finalizado</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @treatments.each do |treatment| %>
        <% if treatment.done? %>        
            <tr class="procedure_done success">
                <td><%= Pacient.find_by_id(treatment.pacient_id).name %></td>
                <td><%= Procedure.find_by_id(treatment.procedure_id).name %></td>
                <td><%= treatment.tooth %></td>
                <td><%= treatment.face %></td>
                <td><%= treatment.discount %></td>
                <td><%= check_box_tag 'finalizado', 'done', treatment.done, disabled: true %></td>
                <td><%= link_to 'Detalhar', treatment , :class => "btn btn-link"%></td>
                <td><%= link_to 'Editar', edit_treatment_path(treatment) ,:class => "btn btn-link" %></td>
                <td><%= link_to 'Apagar', treatment, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-link"%></td>
            </tr>
        <% else %>
            <tr class="procedure_done info">
                <td><%= Pacient.find_by_id(treatment.pacient_id).name %></td>
                <td><%= Procedure.find_by_id(treatment.procedure_id).name %></td>
                <td><%= treatment.tooth %></td>
                <td><%= treatment.face %></td>
                <td><%= treatment.discount %></td>
                <td><%= check_box_tag 'finalizado', 'done', treatment.done, disabled: true %></td>
                <td><%= link_to 'Detalhar', treatment , :class => "btn btn-link"%></td>
                <td><%= link_to 'Editar', edit_treatment_path(treatment) ,:class => "btn btn-link" %></td>
                <td><%= link_to 'Apagar', treatment, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-link"%></td>
            </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar tratamento', new_treatment_path %>
