<h1>Listing treatments</h1>

<table>
  <thead>
    <tr>
      <th>Pacient</th>
      <th>Procedure</th>
      <th>Discount</th>
      <th>Done</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @treatments.each do |treatment| %>
      <tr>
        <td><%= treatment.pacient_id %></td>
        <td><%= treatment.procedure_id %></td>
        <td><%= treatment.discount %></td>
        <td><%= treatment.done %></td>
        <td><%= link_to 'Show', treatment %></td>
        <td><%= link_to 'Edit', edit_treatment_path(treatment) %></td>
        <td><%= link_to 'Destroy', treatment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Treatment', new_treatment_path %>
