<%= form_for(@indicated) do |f| %>
  <% if @indicated.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@indicated.errors.count, "error") %> prohibited this indicated from being saved:</h2>

      <ul>
      <% @indicated.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :indication_id %><br>
    <%= collection_select(nil, :indication_id, Indication.all, :id, :name,{:prompt   => "Select a indication"}) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
