<h1>Listing indicateds</h1>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Indicado por</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @indicateds.each do |indicated| %>
      <tr>
        <td><%= Pacient.find_by_id(indicated.pacient_id).name %></td>
        <td><%= Indication.find_by_id(indicated.indication_id).name %></td>
        <td><%= indicated.description %></td>
        <td><%= link_to 'Show', indicated %></td>
        <td><%= link_to 'Edit', edit_indicated_path(indicated) %></td>
        <td><%= link_to 'Destroy', indicated, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indicated', new_indicated_path %>
