<h1>Lista de consultas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Data</th>
      <th>Cancelada</th>
      <th>Motivo Cancelamento</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @consultations.each do |consultation| %>
      <tr>
        <td><%= Pacient.find_by_id(Treatment.find_by_id(consultation.treatment_id).pacient_id).name %></td>
        <td><%= consultation.date.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= check_box_tag 'consultation', 'canceled', consultation.canceled, disabled: true  %></td>
        <td><%= consultation.canceled_reason  %></td>
        <td><%= link_to 'Show', consultation %></td>
        <td><%= link_to 'Edit', edit_consultation_path(consultation) %></td>
        <td><%= link_to 'Destroy', consultation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consultation', new_consultation_path %>
