<%= form_for(@pacient, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @pacient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pacient.errors.count, "error") %> prohibited this pacient from being saved:</h2>

      <ul>
      <% @pacient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="label label-info">Dados Cadastrais</div>
  <div class="well">
  <div class="control-group">
    <%= f.label :nome, :class => "control-label" %>
    <div class="controls" >
    <%= f.text_field :name , :class => "span3", :placeholder => "Insira o nome do paciente…" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :endereco , :class => "control-label" %>
    <div class="controls" >
        <%= f.text_area :address %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email , :class => "control-label"%>
    <div class="controls" >
       <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :RG , :class => "control-label"%>
    <div class="controls" >
       <%= f.text_field :rg , :class => 'input-small'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :CPF , :class => "control-label"%>
    <div class="controls" >
        <%= f.text_field :cpf , :class => 'input-small'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Aniversário , :class => "control-label"%>
    <div class="controls" >
        <%= f.datetime_select :birthday, :discard_minute => true, :discard_hour => true, :order => [:day, :month, :year], :use_month_names => ['Jan', 'Fev', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'], :class => 'option-large'%>
    </div>
  </div>
  </div>

  <div class="label label-info">Indicado por</div>
  <div class="well form-horizontal">
     <%= f.fields_for :indicateds do |builder| %>
        <%= render "indicated_fields", :f => builder %> 
      <% end %>
      <p><%= link_to_add_fields "Adicionar outra indicação", f, :indicateds %></p>
  </div>

  <div class="label label-info">Telefones</div>
  <div class="well form-horizontal">
     <%= f.fields_for :telephones do |builder| %>
        <%= render "telephone_fields", :f => builder %> 
      <% end %>
      <p><%= link_to_add_fields "Adicionar outro Telefone", f, :telephones %></p>
  </div>

  <div class="label label-info">Plano de Saude</div>
  <div class="well form-horizontal">
      <%= f.fields_for :insureds do |builder| %>
        <%= render "insured_fields", :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Adicionar plano de saude", f, :insureds %></p>
  </div>

  <div class="label label-info">Tratametos</div>

  <div class="well form-horizontal">
      <%= f.fields_for :treatments do |builder| %>
          <%= render "treatment_fields", :f => builder %>  
       <% end %>
      <p><%= link_to_add_fields "Adicionar novo tratamento", f, :treatments %></p>
  </div>

  <div class="actions">
    <%= f.submit 'Cadastrar paciente', :class => 'btn btn-primary'%>
  </div>
 
<% end %>
