<div class="well form-inline">
   <%= f.label :ddd, "DDD" %>
   <%= f.text_field :ddd, :class => "input-mini" %>
   <%= f.label :number, "Numero" %>
   <%= f.text_field :number %>
   <%= f.label :done, "Telefone Preferêncial" %>
   <%= f.check_box :preferred %>
   <%= f.hidden_field :_destroy %>
   <%= link_to_function "remover", "remove_fields(this)", :class => "btn" %>
</div>
