<h1>Lista de pacientes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th> <%= sortable "name", "Nome" %></th>
      <th>  Telefone </th>
      <th> <%= sortable 'email', "Email" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pacients.each do |pacient| %>
      <tr>
        <td><%= pacient.name %></td>
        <td><%= pacient.preferred_telephone %></td>
        <td><%= pacient.email %></td>
        <td><%= link_to 'Detalhar', pacient , :class => "btn btn-info"%></td>
        <td><%= link_to 'Editar', edit_pacient_path(pacient) , :class => "btn btn-primary"%></td>
        <td><%= link_to 'Apagar', pacient, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar novo paciente', new_pacient_path %>
