<p id="notice"><%= notice %></p>

<div class="label label-info">Dados Cadastrais:</div>
<div class="well">
<p>
  <strong>Nome:</strong>
  <%= @pacient.name %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @pacient.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pacient.email %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @pacient.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @pacient.cpf %>
</p>

<p>
  <strong>Aniversário:</strong>
  <%= @pacient.birthday.strftime("%d/%m/%Y") %>
</p>
</div>

<div class="label label-info">Indicado por:</div>
<div>
    <table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
  <tbody>
    <% @pacient.indicateds.each do |indicated| %>
          <tr>
            <td><%= Indication.find_by_id(indicated.indication_id).name %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>            
            <td><%= link_to 'Alterar', edit_indicated_path(indicated) %></td>
            <td><%= link_to 'Apagar', indicated, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
  </tbody>
   </table>
</div>

<div class="label label-info">Telefones:</div>
<div>
   <table class="table table-striped">
  <thead>
    <tr>
      <th>DDD</th>
      <th>Numero</th>
      <th>Preferencial</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   <% @pacient.telephones.each do |telephone| %>
      <tr>
        <td><%= telephone.ddd %></td>
        <td><%= telephone.number %></td>
        <td><%= telephone.preferred %></td>
        <td><%= link_to 'Alterar', edit_telephone_path(telephone) %></td>
        <td><%= link_to 'Apagar', telephone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
   </table>
</div>

<div class="label label-info">Plano de Saude:</div>
<div>
   <table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
   <% @pacient.insureds.each do |insured| %>
      <tr>
        <td><%= Insurance.find(id=insured.insurance_id).name %></td>
        <td><%= link_to 'Alterar', edit_insured_path(insured) %></td>
        <td><%= link_to 'Apagar', insured, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
   </table>
</div>

<div class="label label-info">Historico</div>
<div>
   <table class="table table-striped">
  <thead>
    <tr>
      <th>Data de Início</th>
      <th>Data de Termino</th>
      <th>Procedimentos</th>
      <th>Dente</th>
      <th>Face</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
   <% @pacient.treatments.each do |treatment| %>
      <% if treatment.done? %>
        <tr class="procedure_done success">
          <td><% consulta = Consultation.find_all_by_treatment_id(treatment.id).sort_by(&:date).first %> <%= consulta == nil ? "" : consulta.date.strftime("%d/%m/%Y %H:%M") %></td>
 	  <td><% consulta = Consultation.find_all_by_treatment_id(treatment.id).sort_by(&:date).last %> <%= consulta == nil ? "" : consulta.date.strftime("%d/%m/%Y %H:%M") %></td>
          <td><%= Procedure.find(id=treatment.procedure_id).name %></td>
          <td><%=treatment.tooth%></td>
          <td><%=treatment.face%></td>
          <td></td>
          <td><%= link_to 'Alterar', edit_treatment_path(treatment) %></td>
          <td><%= link_to 'Apagar', treatment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% else %>
        <tr  class="procedure_undone info">
          <td><% consulta = Consultation.find_all_by_treatment_id(treatment.id).sort_by(&:date).first %> <%= consulta == nil ? "" : consulta.date.strftime("%d/%m/%Y %H:%M") %></td>
          <td> ------ </td>
          <td><%= Procedure.find(id=treatment.procedure_id).name %></td>
          <td><%=treatment.tooth%></td>
          <td><%=treatment.face%></td>
          <td><%= link_to 'Adicionar consulta', new_consultation_path(:treatment_id => treatment.id) %></td>
          <td><%= link_to 'Alterar', edit_treatment_path(treatment) %></td>
          <td><%= link_to 'Apagar', treatment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>  
      <% end %>
    <% end %>
   </table>
</div>

<div class="label label-info">Próximas consultas</div>
<div>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Consultas</th>
      <th>Procedimentos</th>
      <th></th>
    </tr>
  </thead>
   <% @pacient.treatments.each do |treatment| %>
     <% Consultation.find_all_by_treatment_id(treatment.id).sort_by(&:date).each do |consultation| %>
     <tr>
         <% if consultation.date.future?%>
            <td><%= consultation.date.strftime("%d/%m/%Y %H:%M") %></td>
            <td><%= Procedure.find(treatment.procedure_id).name %></td>
         <% end %>
     </tr> 
     <% end %>  
   <% end %>
   </table>
</div>



<%= link_to 'Edit', edit_pacient_path(@pacient), :class => "btn btn-primary" %> |
<%= link_to 'Back', pacients_path , :class => "btn" %>
